@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Kite+One&family=Great+Vibes&family=Nunito:wght@200&family=Montserrat&display=swap');


$ff-logo: 'Kite One', sans-serif;
$ff-primary: 'Frank Ruhl Libre', serif;
$ff-accent: 'Great Vibes', cursive;
$ff-text: 'Montserrat', sans-serif;

$web-title-big: 4rem;
$web-title-regular: 3rem;
$web-text: 1rem;

$web-subtitle-big: 3.75rem;
$web-subtitle-regular: 3rem;
$web-link: 2rem;

$mobile-title-big: 2.75rem;
$mobile-title-regular: 2.25rem;
$mobile-text: .875rem;

$mobile-subtitle-big: 2.5rem;
$mobile-subtitle-regular: 2.25rem;
$mobile-link: 1.25rem;

$clr-dark: #28221E;
$clr-primary: #614E41;
$clr-accent: #7F6951;
$clr-text: #CECBC8;
