@use './variables' as *;

.legend, 
.first-part,
.second-part {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  width: 100vw;

  &__content {
    position: relative;
    z-index: 9;
  }
}

.legend::before,
.first-part::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.9);
}

.first-part::before {
  top: 100vh;
}

// Specific styling

.legend {
  background-image: url('../../assets/redWineGlass.png');

  &__content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title, .text {
      width: 100%;
    }

    .text, .link {
      text-align: center;
    }

    .link {
      color: $clr-text;

      width: 100%;

      position: absolute;
      bottom: 0;
    }
  }
}

.first-part {
  background-image: url('../../assets/corks.png');

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .first-part__subtitle {
      margin: -1rem 0 2rem;
    }
  }
}

.second-part {
  background-color: $clr-dark;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .second-part__subtitle {
      margin-bottom: 3rem;
    }
  }
}

@media (min-width: 1010px) {
  .text-wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 3rem;
  }

  .legend__content {
    flex-direction: row;
    align-items: center;

    .title {
      max-width: 50%;

      padding-right: 3rem;
    }

    .text {
      text-align: left;
    }
  }

  .second-part__content {
    .woman-pic, .woman-text {
      width: 100%;

      margin-top: 0;
    }
  }
}
